img {
  width: 400px;
  display: block;
  margin: 0 auto;
}


.title{
    font-size:36px;  
    text-align:center;
    background-color: red;
    color: white;
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
}


        