img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.title{
    text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000;color:lightSteelBlue;
    background-color:steelBlue;
    font-size:44px;  
    text-align:center;
    font-family: "Georgia", Times, "Times New Roman", serif;
  text-decoration-line: none ;

}

summary {
color:steelBlue;  
}

h1{  
  color:steelBlue; 
  font-style:bold;
  text-decoration: underline;
/*  text-decoration-style: double;*/
}

h2 {
  color:lightSteelBlue;
  font-style:italic;
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}

hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}


.tocify-item {
    background-color: steelBlue;
    color: white;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: lightSteelBlue;
    color: steelBlue;
}
/*
button.dt-button, div.dt-button, a.dt-button {
    color: steelBlue;
}
button.dt-button:hover, div.dt-button, a.dt-button {
    color: steelBlue;
    font-weight:bold;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid steelBlue;
    border-top: 1px solid red;
}
table.dataTable thead th:hover, table.dataTable thead td {
    border-bottom: 3px double white;
    border-top: 3px double white;
    background-color:steelBlue

}
*/

/* background color of header (logo part) */

.navbar-header .navbar-header:hover {
          background-color: black;
        } 
      
.navbar-default .navbar-header:hover .navbar-nav>li>a:hover {
          background-color: steelBlue;
        } 
        
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
          color: lightSteelBlue;
        } 
         

