img {
  width: 400px;
  display: block;
  margin: 0 auto;
}


.title{
    font-size:36px;  
    text-align:center;
    background-color: red;
    color: white;
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
}

.tocify-item {
    background-color: red;
    color: white;
}

         /* background color of header (logo part) */
.navbar-header {
          background-color: red;
        } 
.navbar-header:hover {
          background-color: black;
        } 